body {
-apple-system, "Helvetica Neue", Roboto, "\\30D2ラギノ角ゴProN W3", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", sans-serif;
}

.wrapper{
	margin: 10px 0;
	height:100%;
	position:relative;
}

.top{
	margin-bottom:20px;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/* ここからheader*/

.header_wrapper{
    display:flex;
    align-items:center;
    height:50px;
    width:100%;
    justify-content:space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF;
}

.icon_left{
    margin: 0 16px;
}

.icon_left img{
    width:100%;
}

.title_nemu{

}

.log{
background-color:#E96A7B;
color:#FFF;
padding:5px;
border-radius:2px;
font-size:14px;
margin: 0 16px;
}

/* ここから content*/

.contents{
    marin:0;
}

.contents_wrapper{
    padding: 0px 16px;
}

input[type="text"]{
width:85%;
border-radius:4px;
height:35px;
}

.button{
    margin: 5px;
    padding: 8px;
    background-color:#E96A7B;
    color:#FFF;
    border-style: none;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s;
}

.title_01{
    color:#272c3a;
    font-weight: 600;
    font-size: 23px;
    margin-bottom:10px;
}

.every_icon{
font-size:11px;
color:#e96a7b;
}

.purpose{
font-size:16px;
font-weight: bold;
color:#272c3a;
}

.free_icon{
    height:15px;
    width:40px;
    margin-right:5px;
    border:1px solid ;
    background-color: #0BA6AF;
    border-style: none;
    border-radius: 5px;
    padding:2px 10px;
    color:#FFF;
    font-size:10px;

}

.every_icon{
    margin-left:15px;
    color:#E96A7B;
}


/* ここから middle*/

.middle{
}

.middle_wrapper{
   background-color:#F7EFF0;
   padding:16px;
}

.listItem{
    background-color:#FFF;
    padding: 5px 16px;
    margin-bottom:10px;
    box-shadow:0px 5px 5px #e8e8e8;
    border-color:#e8e8e8;
    font-size:13px;
    color: #272c3a;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
}


.listItem:after{
  content: ">";
  width:25px;
  height:25px;
  color: #e96a7b;
  position:absolute;
  right:0;
  bottom:15px;
  font-size: 15px;
  display: inline-block;

}

.sample{
font-size:10px;
background: #57585b;
color: #fff;
padding:2px;
}








